<h1>New User</h1>

<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
</ul>
<% end %>

<%= form_for @user do |form| %>
  <%= form.text_field :first_name, placeholder: 'First name'%>
  <%= form.text_field :last_name, placeholder: 'Last name'%>
  <%= form.text_field :email, placeholder: 'Email'%>
  <%= form.text_field :address, placeholder: 'Address'%>
  <%= form.submit %>
<% end %>



<!-- in html:  -->

<!-- <form action="">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form> -->
