<!-- Partial file with "_", file that another file refers to  -->

<ul class ="nav navbar-nav">
  <%= content_tag :li, class: current_page?(home_about_url) ? 'active' : '' do %> <!-- ruby if else  -->
      <%=link_to 'About',home_about_url %></li>
  <% end %>

  <%= content_tag :li, class: current_page?(startpage_index_url) ? 'active' : '' do %> <!-- ruby if else  -->
      <%=link_to 'Startpage',startpage_index_url %> <!-- ruby -->
  <% end %>

  <%= content_tag :li, class: current_page?(home_index_url) ? 'active' : '' do %> <!-- ruby if else  -->
      <%=link_to 'Home Index',home_index_url, target: '_blank' %> <!-- ruby -->
  <% end %>

  <%= content_tag :li, class: current_page?(contact_url) ? 'active' : '' do %> <!-- ruby if else  -->
      <a href="/contact">Contact</a> <!-- html -->
  <% end %>

  <%= content_tag :li, class: current_page?(users_url) ? 'active' : '' do %> <!-- ruby if else  -->
      <a href="/users">Users</a> <!-- html -->
  <% end %>

</ul>
